{% extends 'base.html' %}
{% load static %}


{% block content %}



    <div class="reply_div">
        <div class="" style="display: flex">
            {% if tweet.user.profile.image %}
                <a class="comment-icon"
                   href="{% url 'accounts:profile' tweet.user %}"><span class="img_url"> <img
                        src="{{ tweet.user.profile.image.url }}"
                        width="40px"
                        height="40px" alt=""
                        style="border-radius:100%"></span></a>

            {% else %}
                <span><img src="{% static 'images/default.png' %}" width="40px"
                           height="40px" alt="" style="border-radius:100%"></span>
            {% endif %}


            <a class="comment-icon"
               href="{% url 'accounts:profile' tweet.user %}"><h4 class="title_name"
                                                                  style="color: #337ab7; padding-top: 0.5em;padding-left: 0.5em;">{{ tweet.user.first_name }}</h4>
            </a>
            <h5 class="reply_top_title_name">
                @{{ tweet.user.username }}</h5>

            <div style="  position: absolute;right: 21%;">
                <p class="description_tweet"> {{ tweet.created|date:'j F' }}, {{ tweet.created|time }}  </p>
            </div>


        </div>

        <p class="main_tweet">{{ tweet.description }} </p>

        {% if tweet.image %}
            <div class="image_div" style="margin: 0 auto;
                                        width: fit-content;">
                <img src="{{ tweet.image.url }}" style="width:30em; height:20em ;right: 25%;border-radius: 1em;">
            </div>
        {% endif %}


        <hr>
    </div>




    {% for item in tweet.reply.all %}
        {% if comments.parent == None %}

            <div class="container">
                <div class="" style="display: flex;  padding-top: 1em">
                    {% if item.user.profile.image %}
                        <a class="comment-icon"
                           href="{% url 'accounts:profile' item.user %}"><span class="img_url"> <img
                                src="{{ item.user.profile.image.url }}"
                                width="40px"
                                height="40px" alt=""
                                style="border-radius:100%"></span></a>

                    {% else %}
                        <span><img src="{% static 'images/default.png' %}" width="40px"
                                   height="40px" alt="" style="border-radius:100%"></span>
                    {% endif %}



                    <a class="comment-icon"
                       href="{% url 'accounts:profile' item.user %}"><h4
                            class="title_first_name">{{ item.user.first_name }}</h4>
                    </a>
                    <h5 class="title_username">
                        @{{ item.user.username }}</h5>

                    <div style="  position: absolute;right: 28%;">
                        <p class="tweet_time"> {{ item.created|date:'j F' }}, {{ item.created|time }}  </p>
                    </div>


                </div>

                <p class="main_tweet">{{ item.tweet }} </p>


                <hr>
            </div>
        {% endif %}
    {% endfor %}


    <form method="post">
        {% csrf_token %}
        <div class="Pythonanywhere fixed-bottom">
            <div class="col-lg-12">
                <input type="hidden" id="parent_id" value="{{ id }}" name="parent_id">
            </div>

            <div class="input_tw" style="display: flex; width: 95%">
                <input class="form-control" id="input_tweet" name="reply" type="text"
                       placeholder="What is happening?!">

                <div style="padding-left: 1em; ">
                    <button style="height: 2.9em" class="btn bg-primary" type="submit">send</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}